:root{
    --main-color:#f7b134;
}

/** Social Share Icons */
.addtoany_share_save_container.addtoany_content.addtoany_content_bottom{
    margin-top:200px;
}

body.logged-in .addtoany_share_save_container.addtoany_content.addtoany_content_bottom{
    margin-top:16px;
}